<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MainConnectionString" connectionString="server=HOANNT\SQLEXPRESS;integrated security=True;database=QLCC_Db;connection timeout=50" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>